apiVersion: apps/v1
kind: Deployment
metadata:
  name: note-manager-db-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: note-manager-db
  template:
    metadata:
      labels:
        app: note-manager-db
    spec:
      containers:
      - name: note-manager-db
        image: note-manager-db:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: mysql-root-password
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: mysql-database
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: mysql-user
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: mysql-password
        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql

      volumes:
      - name: mysql-data
        persistentVolumeClaim:
          claimName: note-manager-db-pvc
